h1::first-letter{
    font-size: 50px;
    text-shadow: 3px 3px 5px red , -3px -3px 5px yellow;

}
 p::first-letter{
    font-size: xx-large;
    font-weight: bold;
 }
body{
    background-image: url( );
    padding: 50px;
    border-radius: 10px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
     border: 3px solid rgb(230, 69, 171);
     height: 400px;
     width:auto;
}
body::selection{
    background-color: rgb(19, 227, 206);
    color: rgb(25, 28, 27);
    font-family: 'Courier New', Courier, monospace ;
}
#fruits li::marker{
    content: "✔️";
    background-color: rgb(21, 18, 18);
    font-size: 1em;;
}

#Apple::after{
    content: "🍎";
}
#Orenge::after{
    content: "🍊";
}
#Banana::after{
    content: "🍌";
}
#Guva::after{
    content: "🍐";
}
#watermelon::after{
    content: "🍉";
}
.page{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.page a{
    text-decoration: none;
    padding: 8px 15px;
    color: black;
}
.page a.active {
    background-color: bisque;
    color: red;
    border-radius: 5px;
}
.page a:hover:not(a.active){
    background-color: rgb(158, 152, 152);
    border-radius: 5px;
}
body{
    background-image:url(1000_F_106047316_GMZwCRskwXaMnzKO09vE4I4r8JPGcLIi.jpg) ;
    background-size: cover;
}
